@import './typo';
@import './color';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}

body{
    background: radial-gradient(
        126.67% 350.28% at -21.35% 0%,
        #11213f 0%,
        #0b0b0b 39.1%,
        rgba(2, 23, 64, 0.837641) 94.57%,
        rgba(2, 23, 64, 0) 100%
    );

    font-family: 'cantarel', 'sans serif';
    font-size: 16px;
    color: $white;

    %titre{
        font-family: 'panthera', 'sans seirf';
        font-size: 50px;
        color: $gray;
    }

    %sous-titre{
        font-family: 'beyno', 'sans serif';
        font-size: 22px;
        color: $gray;
    }
    %titre-beyno{
        font-family: 'beyno','sans serif';
        font-size: 40px;
        color: $gray;
    }

    %sous-titre-wakanda{
        font-family: 'wakanda', 'sans serif';
        font-size: 30px;
        color:$gray;
    }

    %titre-nom{
        font-family: 'cantarel', 'sans serif';
        font-weight: bold;
        font-size: 40px;
    }


}