#enigme {
  height: calc(100vh - 100px);
  background-image: url(../Illustrations_Logo/Enigme/Pantherenigme1.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50px -15px;

  .enigme-contente {
    width: 40%;
    position: absolute;
    top: 200px;
    right: 200px;
    text-align: center;

    .texte-enigme {
      h1 {
        @extend %titre-beyno;
        font-size: 40px;
        // text-align: justify;
      }
      .cercle-font {
        margin-top: 50px;
        padding: 50px;
        width: 100%;
        height: 310px;
        background-image: url(../Illustrations_Logo/Enigme/Pantherenigme2.png);
        background-repeat: no-repeat;
        background-size: cover;

        .texte {
          font-size: 10px;
          text-align: justify;
          width: 60%;

          position: absolute;
          // top: 30px;
          bottom: 50px;
          left: 100px;
        }
        .image-tirait {
          position: absolute;
          bottom: 0px;
          left: 0px;
        }
        .image-logo {
          width: 50px;
          position: absolute;
          bottom: -20px;
        }
      }
    }
  }
}
#game {
  min-height: auto;
  padding: 30px 0;
  h2 {
    @extend %sous-titre;
    text-decoration: underline;
    margin-bottom: 10px;
    span {
      font-family: Arial, Helvetica, sans-serif;
      color: $gray;
    }
  }
  .texte {
    text-align: justify;
    margin-bottom: 10px;
  }
  .question {
    @extend%sous-titre-wakanda;
    margin: 15px 0;
  }
  .Alors {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .game-containe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .quiz {
      width: 50%;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      input {
        width: 100%;
        height: 40px;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 25px;
        border: solid $light-pink;
        background: none;
        text-align: justify;
        &::placeholder {
          padding-left: 20px;
          color: $white;
          font-size: 14px;
        }
      }
      button {
        padding: 10px 20px;
        background-color: $pink;
        border-radius: 20px;
        font-size: 20px;
        font-weight: bold;
        color: $white;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .texte-droite {
      width: 40%;
    }
  }
}
