@font-face {
    font-family: 'panthera';
    src: url("../police/panthera.otf");
}
@font-face {
    font-family: 'beyno';
    src: url("../police/BEYNO.otf");
}
@font-face {
    font-family: 'cantarel';
    src: url("../police/Cantarell-Regular.ttf");
}
@font-face {
    font-family: 'wakanda';
    src: url("../police/WakandaForever-Regular.ttf");
}