#hero-wakanda {
  height: calc(100vh - 100px);
  width: 100%;
  background-image: url("../Illustrations_Logo/Wakanda/Pantherwakanda1.png");
  background-repeat: no-repeat;
  background-position: center -100px;
  background-size: 100% cover;
  .wakanda {
    .hero_content {
      width: 40%;
      position: absolute;
      top: 35%;
      h1 {
        @extend %titre;
      }

      h2 {
        @extend %sous-titre-wakanda;
        padding: 20px 0px;
      }
      .texte {
        text-align: justify;
      }
    }
  }
}
#wakanda-description {
  background-image: url(../Illustrations_Logo/Wakanda/Pantherwakanda2.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  .description {
    width: 80%;
    display: flex;
    justify-content: space-between;
    .gauche {
      width: 45%;
    }
    .droite {
      width: 45%;
    }
  }
  .titre-wakanda {
    text-align: justify;
    margin: 10px 0;
    @extend %sous-titre;
  }
  .texte-wakanda {
    text-align: justify;
  }
  .petit-texte {
    font-size: 14px;
    margin: 20px 0;
  }
  .bloc-lien {
    height: 150px;
    width: 100%;
    background-color: $blue;
    align-items: center;
    margin: 15px 0;
    padding: 25px 20px;
  }
  .les-heros {
    width: 100%;
    height: 300px;
    background-image: url(../Illustrations_Logo/Wakanda/Pantherwakanda2-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
  }
  margin-bottom: 30px;
}
